[submodule "poky"]
	path = yocto/poky
	url = https://git.yoctoproject.org/poky
	branch = hardknott
[submodule "meta-clang"]
	path = yocto/meta-clang
	url = https://github.com/kraj/meta-clang.git
	branch = hardknott
